.burgerBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
    background-color: var(--color-navy-blue);
    border: none;
}

.burgerBox hr {
    margin: 1px 0;
    width: 80%;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
}

.burgerBox hr:first-child {
    margin-top: 6px;
}

.burgerBox hr:last-child {
    margin-bottom: 6px;
}