article {
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 20;
    background-color: white;
}

article h1,
article h3 {
    text-align: center;
    animation: fadeIn 1s ease-in forwards;
}

article hr {
    width: 50%;
    animation: fadeIn 1s ease-in forwards;
}

article p {
    font-size: 1em;
    line-height: 1.4em; 
    margin: 0 25% 1em;
    color: black;
    animation: fadeIn 1s ease-in forwards;
}

.centerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centerContent h1 {
    margin-top: -6px;
}

.centerContent p {
    margin-bottom: 0;
}

#logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

#logo img {
    width: 50px;
}

.zigzags {
    width: 100%;
    margin-bottom: -8px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
