/* 
Steel Blue #387FA9
Midnight Blue #122336
Dark Slate Blue #26445F
Dark Gray #9e9895
*/

:root {
  --color-steel-blue: #387FA9;
  --color-midnight-blue: #122336;
  --color-dark-slate-blue: #26445F;
  --color-dark-gray: #9e9895;
}

@font-face {
  font-family: 'SourceSansPro';
  src: 
    url('./Fonts/SourceSansPro-Regular.ttf') format('truetype'),
    url('./Fonts/SourceSansPro-Bold.ttf') format('truetype');
}

* {
  font-family: 'SourceSansPro', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.11em;
}

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: url(./Visual/Images/Ocean.jpg) no-repeat center center fixed;
  background-size: cover;
}

.navContainer {
  width: 100%;
  background-color: var(--color-steel-blue);
  box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  z-index: 5000;
}

#root {
  height: auto;
  min-height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
}