.waveContainer {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.waveContainer img {
    position: sticky;
    display: block;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}